@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

body {
   font-family: 'Muli', sans-serif;
   font-size: 20px;
   background-color: rgb(204, 189, 162);
   margin: 0;
   padding: 0;
   
}

body.lock {
   overflow: hidden;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
   background-color: rgb(240, 237, 224);
}

//Header

.header {
   min-height: 55px;
   background-color: rgb(240, 237, 224);
}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: rgb(34, 33, 33);
   font-weight: 700;
}

.header__logo {
   margin: 0 20px;
}

.header__nav-menu {
   display: flex;
   justify-content: space-between;
   list-style: none;
}

.header__nav-item {
   margin: 0 20px;
}

.header__nav-item a {
   text-decoration: none;
   cursor: pointer;
}

.header__nav-item a:hover {
   text-decoration: underline;
}

.header__menu-icon {
   display: none;
}

// Slides

.slides {
   box-sizing: border-box;
   height: 90vh;
   overflow: hidden;
}

.slide__inner {
   width: 100%;
   display: flex;
   /* padding: 0 10px; */
}

.slide {
   height: 80vh;
   cursor: pointer;
   border-radius: 30px;
   margin: 10px;
   flex: 1;
   color: rgb(88, 20, 20);
   box-sizing: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   transition: all 500ms ease-in-out;
}

.slide h3 {
   position: absolute;
   font-size: 24px;
   bottom: 20px;
   left: 20px;
   opacity: 0;
   margin: 0;
   background-color: #fff;
   border-radius: 35px;
   padding: 10px;
}
 
.slide.active {
   flex: 10;
}
 
.slide.active h3 {
   opacity: 1;
   transition: opacity 0.3s ease-in 0.4s;
}



// task-list

.task-list {
   height: 70vh;
}

.task-list__header {
   height: 7vh;
   text-align: center;
   font-size: 30px;
   font-weight: 700;
   background-color: rgb(155, 123, 123);

}

/* .task-list__header-title {
   height: 100%;
} */

.task-list__columns {
   display: flex;
   justify-content: space-between;
   align-items: start;
   padding: 30px;
   flex-wrap: wrap;
}

.task-list__column {
   background-color: rgb(243, 236, 222);
   padding: 20px;
   margin: 7px;
   border: 2px rgb(0, 0, 0) solid;
   flex: 1;
   min-width: 300px;
}

.task-list__column-category {
   font-size: 25px;
   font-weight: 700;
   margin-bottom: 10px;
}

.task-list__column-items {
   list-style: none;
   padding: 0;
   margin: 0;
   
}

.task-list__column-item.checked {
   text-decoration: line-through;
   color: rgb(97, 92, 92);
}
