@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
body {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  background-color: #ccbda2;
  margin: 0;
  padding: 0;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #f0ede0;
}

.header {
  min-height: 55px;
  background-color: #f0ede0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222121;
  font-weight: 700;
}

.header__logo {
  margin: 0 20px;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header__nav-item {
  margin: 0 20px;
}

.header__nav-item a {
  text-decoration: none;
  cursor: pointer;
}

.header__nav-item a:hover {
  text-decoration: underline;
}

.header__menu-icon {
  display: none;
}

.slides {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 90vh;
  overflow: hidden;
}

.slide__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding: 0 10px; */
}

.slide {
  height: 80vh;
  cursor: pointer;
  border-radius: 30px;
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #581414;
  -webkit-box-sizing: cover;
          box-sizing: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 35px;
  padding: 10px;
}

.slide.active {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.slide.active h3 {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.4s;
  transition: opacity 0.3s ease-in 0.4s;
}
